.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  height: 100vh;
  padding: 0 0 0 25%;
}

.contacts:before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 20%;
  height: 100%;
  background: var(--background-color);
  content: "";
}

.contacts .section-title {
  order: 1;
  margin: 100px 6% 0 0;
  text-align: right;
}

@media screen and (max-width: 767px) {
  .contacts .section-title {
    order: 0;
    margin: 0 5% 55px 0;
    text-align: left;
  }
}

.contacts__label {
  margin: 0 0 0.5em;
  font-weight: bold;
  font-size: 30px;
}

.contacts__link {
  margin: 0 0 1.5em;
}
